:root{
 --sky-blue: #8ecae6ff;
 --blue-green: #219ebcff;
 --prussian-blue: #023047ff;
 --selective-yellow: #ffb703ff;
 --ut-orange: #fb8500ff; 
}
body{
    background-color: var(--prussian-blue)
}
#numbers-container{
    color: var(--ut-orange);
}
.my-numbers{
    font-size: 3em;
    word-spacing: 30px;
}
input{
    background-color: var(--selective-yellow);
    border-radius: 8px;
}
#result{
    color: var(--ut-orange);
    font-size: 1.5em;
}
